.planet__tabs {
	display: flex;
	column-gap: 40px;
	justify-content: space-between;
	max-width: 327px;
	margin: 0 auto;
	@media only screen and (max-width: 375px) {
		padding: 0 24px 0 24px;
	}
	&-tab {
		cursor: pointer;
		font-style: var(--font-spartan);
		font-weight: var(--font-bold);
		font-size: 9px;
		line-height: 10px;
		letter-spacing: 1.93px;
		text-transform: uppercase;
		color: var(--color-light-gray);
		padding-bottom: 17px;
		padding-top: 20px;
		.number {
			display: none;
			@media only screen and (min-width: 768px) {
				display: block;
				margin: 0 20px 0 17px;
				color: var(--color-light-gray);
			}
		}
		@media only screen and (min-width: 768px) {
			border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
			display: flex;
			color: var(--color-white);
			font-size: 9px;
			font-weight: 700;
			line-height: 25px;
			letter-spacing: 1.9285714626312256px;
		}
	}

	&-image {
		min-height: 304px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media only screen and (min-width: 768px) {
			min-height: 460px;
		}
		.planet__image {
			display: none;
			img {
				object-fit: cover;
			}
			&--active {
				display: block;
			}
		}
	}

	&-content {
		max-width: 327px;
		margin: 0 auto 28px auto;
		@media only screen and (max-width: 375px) {
			padding: 0 24px 0 24px;
		}

		@media only screen and (min-width: 768px) {
			max-width: none;
		}
		&--content {
			display: none;
			&.active {
				display: block;
			}

			.planet {
				&__heading {
					font-size: 40px;
					line-height: 51.76px;
					text-align: center;
					margin-bottom: 16px;
					@media only screen and (min-width: 768px) {
						font-size: 48px;
						font-weight: 400;
						line-height: 62px;
						margin-bottom: 24px;
					}
				}

				&__description {
					font-size: 11px;
					line-height: 22px;
					text-align: center;
					margin-bottom: 32px;
					@media only screen and (min-width: 768px) {
						font-size: 11px;
						line-height: 22px;
						margin-bottom: 32px;
					}
				}

				&__link {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 4px;
					font-size: 12px;
					line-height: 25px;
					color: var(--color-light-gray);
					@media only screen and (min-width: 768px) {
						justify-content: start;
					}
					&--link {
						font-weight: 700;
						text-decoration: underline;
						color: var(--color-light-gray);
					}

					&--icon {
						line-height: normal;
					}
				}
				@media only screen and (min-width: 768px) {
					&__heading,
					&__description {
						text-align: left;
					}
				}
			}
		}
	}
}
