.planet {
	@media only screen and (min-width: 768px) {
		max-width: 690px;
		margin: 0 auto 27px auto;
		display: grid;
		grid-template-columns: repeat(2, 345px);
		grid-template-areas:
			"a a"
			"b c";
		&__tabs {
			grid-area: c;
			max-width: 281px;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			justify-self: end;
			row-gap: 16px;
			margin: 0;
		}

		&__tabs-image {
			grid-area: a;
		}

		&__tabs-content {
			grid-area: b;
			max-width: 339px;
			margin: 0;
		}
	}
}
