.planet {
	@media only screen and (min-width: 768px) {
		max-width: 690px;
		margin: 0 auto 27px auto;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-areas:
			"a a"
			"b c";
		&__tabs {
			grid-area: c;
			max-width: 281px;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			justify-self: end;
			row-gap: 16px;
			margin: 0;
		}

		&__tabs-image {
			grid-area: a;
		}

		&__tabs-content {
			grid-area: b;
			max-width: 339px;
			margin: 0;
		}
	}

	@media only screen and (min-width: 1440px) {
		max-width: 1110px;
		margin-top: 126px;
		grid-template-columns: 760px 350px;
		grid-template-areas:
			"a b"
			"a c";
		&__tabs,
		&__tabs-content {
			max-width: 350px;
		}
		&__tabs {
			justify-self: stretch;
		}
		&__tabs-image {
			max-width: 760px !important;
		}
	}
}
