.header {
	position: relative;
	.brand {
		padding: 16px 24px 17px 16px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		display: flex;
		justify-content: space-between;
		.menu-toggle {
			display: block;
			cursor: pointer;
			.bar {
				display: block;
				width: 25px;
				height: 3px;
				background-color: var(--color-white);
				margin: 5px auto;
			}
			&__activate {
				.bar {
					background-color: rgba(255, 255, 255, 0.25);
				}
			}
		}
	}

	.navigation {
		background-color: rgba(7, 7, 36, 1);
		height: 100vh;
		position: absolute;
		left: 0;
		right: 0;
		display: none;
		&__list {
			padding: 24px 24px 67px 24px;
			&-item {
				text-transform: uppercase;
				a {
					display: flex;
					flex-direction: row;
					align-items: center;
					flex-wrap: wrap;
					padding: 20px 0;
					&::before {
						content: "";
						margin-right: 25px;
						width: 20px;
						height: 20px;
						border-radius: 50%;
					}

					&::after {
						content: "";
						background-image: url("../../images/icon-chevron.svg");
						background-position-x: 100%;
						background-repeat: no-repeat;
						height: 8px;
						width: 4px;
						flex: 1;
					}
				}

				&:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				}

				&--mercury {
					a {
						&::before {
							background-color: var(--color-mercury);
						}
					}
				}

				&--venus {
					a {
						&::before {
							background-color: var(--color-venus);
						}
					}
				}

				&--earth {
					a {
						&::before {
							background-color: var(--color-earth);
						}
					}
				}

				&--mars {
					a {
						&::before {
							background-color: var(--color-mars);
						}
					}
				}

				&--jupiter {
					a {
						&::before {
							background-color: var(--color-jupiter);
						}
					}
				}

				&--saturn {
					a {
						&::before {
							background-color: var(--color-saturn);
						}
					}
				}

				&--uranus {
					a {
						&::before {
							background-color: var(--color-uranus);
						}
					}
				}

				&--neptune {
					a {
						&::before {
							background-color: var(--color-neptune);
						}
					}
				}
			}
		}

		&--active {
			display: block;
		}
	}
}
