.stats {
	&__component {
		max-width: 327px;
		margin: 0 auto 47px auto;
		@media only screen and (max-width: 375px) {
			padding: 0 24px 0 24px;
		}

		@media only screen and (min-width: 768px) {
			max-width: 690px;
		}

		@media only screen and (min-width: 1440px) {
			max-width: 1110px;
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			row-gap: 8px;
			@media only screen and (min-width: 768px) {
				flex-direction: row;
				column-gap: 11px;
			}

			@media only screen and (min-width: 1440px) {
				column-gap: 30px;
			}

			&-item {
				padding: 9px 24px 13px 24px;
				border: 1px solid rgba(255, 255, 255, 0.2);
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media only screen and (min-width: 768px) {
					flex-direction: column;
					width: calc((100% / 4) - 25.5px);
					padding: 16px 0 19px 15px;
					text-transform: uppercase;
					align-items: flex-start;
				}

				@media only screen and (min-width: 1440px) {
					width: calc((100% / 4) - 47.5px);
					padding: 20px 0 27px 23px;
				}

				.title {
					font-size: 8px;
					font-weight: 700;
					line-height: 16px;
					letter-spacing: 0.73;
					color: var(--color-light-gray);
					@media only screen and (min-width: 1440px) {
						font-size: 11px;
						line-height: 25px;
						letter-spacing: 1px;
						margin-bottom: 4px;
					}
				}
				.data {
					font-family: var(--font-antonio);
					font-size: 20px;
					line-height: 26px;
					letter-spacing: -0.75px;
					text-align: right;
					@media only screen and (min-width: 1440px) {
						font-size: 40px;
						line-height: 52px;
						letter-spacing: -1.5px;
					}
				}
			}
		}
	}
}
