@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap');

@import-normalize;

:root {
  --font-spartan: 'League Spartan', sans-serif;
  --font-antonio: 'Antonio', sans-serif;
  --font-bold: 700;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgba(7, 7, 36, 1);
  background-image: url(./images/background-stars.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 80px;
  line-height: 103px;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: +2.6px;
}

h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: +1px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.button {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: +2.57px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  max-width: 350px;
  padding: 12px 209px 11px 28px;
}

.button span {
  opacity: 0.5;
  margin-right: 28px;
}

.button:hover {
  background-color: rgba(216, 216, 216, 0.2);
}