@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap');

@import-normalize;

:root {
  --font-spartan: 'League Spartan', sans-serif;
  --font-antonio: 'Antonio', sans-serif;
  --font-bold: 700;
  --color-white: #ffffff;
  --color-black: #070724;
  --color-dark-gray: #38384f;
  --color-light-gray: #838391;
  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6d2ed5;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec2a4;
  --color-neptune: #2d68f0;
  --color-hover: #D8D8D8;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgba(7, 7, 36, 1);
  background-image: url(./images/background-stars.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: 14px;
  color: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 80px;
  line-height: 103px;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: +2.6px;
}

h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: +1px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.button {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: +2.57px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  max-width: 350px;
  padding: 12px 209px 11px 28px;
}

.button span {
  opacity: 0.5;
  margin-right: 28px;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 768px) {
  .divider {
    display: none;
  }
}

.button:hover {
  background-color: rgba(216, 216, 216, 0.2);
}

.planet__tabs-tab--mercury {
  border-bottom: 3px solid var(--color-mercury);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--mercury {
    background-color: var(--color-mercury);
    border: 1px solid var(--color-mercury);
  }
}

.planet__tabs-tab--venus {
  border-bottom: 3px solid var(--color-venus);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--venus {
    background-color: var(--color-venus);
    border: 1px solid var(--color-venus);
  }
}

.planet__tabs-tab--earth {
  border-bottom: 3px solid var(--color-earth);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--earth {
    background-color: var(--color-earth);
    border: 1px solid var(--color-earth);
  }
}

.planet__tabs-tab--mars {
  border-bottom: 3px solid var(--color-mars);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--mars {
    background-color: var(--color-mars);
    border: 1px solid var(--color-mars);
  }
}

.planet__tabs-tab--jupiter {
  border-bottom: 3px solid var(--color-jupiter);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--jupiter {
    background-color: var(--color-jupiter);
    border: 1px solid var(--color-jupiter);
  }
}

.planet__tabs-tab--saturn {
  border-bottom: 3px solid var(--color-saturn);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--saturn {
    background-color: var(--color-saturn);
    border: 1px solid var(--color-saturn);
  }
}

.planet__tabs-tab--uranus {
  border-bottom: 3px solid var(--color-uranus);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--uranus {
    background-color: var(--color-uranus);
    border: 1px solid var(--color-uranus);
  }
}

.planet__tabs-tab--neptune {
  border-bottom: 3px solid var(--color-neptune);
}

@media only screen and (min-width: 768px) {
  .planet__tabs-tab--neptune {
    background-color: var(--color-neptune);
    border: 1px solid var(--color-neptune);
  }
}

.planet__image-mercury,
.planet__image-mercury--structure {
  width: 111px;
  height: 111px;
}

@media only screen and (min-width: 768px) {

  .planet__image-mercury,
  .planet__image-mercury--structure {
    width: 184px;
    height: 184px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-mercury,
  .planet__image-mercury--structure {
    width: 290px;
    height: 290px;
  }
}

.planet__image-venus,
.planet__image-venus--structure {
  width: 154px;
  height: 154px;
}

@media only screen and (min-width: 768px) {

  .planet__image-venus,
  .planet__image-venus--structure {
    width: 253px;
    height: 253px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-venus,
  .planet__image-venus--structure {
    width: 400px;
    height: 400px;
  }
}

.planet__image-earth,
.planet__image-earth--structure {
  width: 173px;
  height: 173px;
}

@media only screen and (min-width: 768px) {

  .planet__image-earth,
  .planet__image-earth--structure {
    width: 285px;
    height: 285px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-earth,
  .planet__image-earth--structure {
    width: 450px;
    height: 450px;
  }
}

.planet__image-mars,
.planet__image-mars--structure {
  width: 129px;
  height: 129px;
}

@media only screen and (min-width: 768px) {

  .planet__image-mars,
  .planet__image-mars--structure {
    width: 213px;
    height: 213px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-mars,
  .planet__image-mars--structure {
    width: 336px;
    height: 336px;
  }
}

.planet__image-jupiter,
.planet__image-jupiter--structure {
  width: 224px;
  height: 224px;
}

@media only screen and (min-width: 768px) {

  .planet__image-jupiter,
  .planet__image-jupiter--structure {
    width: 369px;
    height: 369px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-jupiter,
  .planet__image-jupiter--structure {
    width: 582px;
    height: 582px;
  }
}

.planet__image-saturn,
.planet__image-saturn--structure {
  width: 256px;
  height: 256px;
}

@media only screen and (min-width: 768px) {

  .planet__image-saturn,
  .planet__image-saturn--structure {
    width: 422px;
    height: 422px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-saturn,
  .planet__image-saturn--structure {
    width: 666px;
    height: 666px;
  }
}

.planet__image-uranus,
.planet__image-uranus--structure {
  width: 176px;
  height: 176px;
}

@media only screen and (min-width: 768px) {

  .planet__image-uranus,
  .planet__image-uranus--structure {
    width: 290px;
    height: 290px;
  }
}

@media only screen and (min-width: 1440px) {

  .planet__image-uranus,
  .planet__image-uranus--structure {
    width: 458px;
    height: 458px;
  }
}

.planet__image-neptune,
.planet__image-neptune--structure {
  width: 173px;
  height: 173px;
}

@media only screen and (min-width: 768px) {

  .planet__image-neptune,
  .planet__image-neptune--structure {
    width: 285px;
    height: 285px;
  }
}

@media only screen and (min-width: 768px) {

  .planet__image-neptune,
  .planet__image-neptune--structure {
    width: 450px;
    height: 450px;
  }
}

@keyframes key1 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}